body {
  width: 100%;
  height: 100%;
}

.header {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url(../img/header.jpeg) no-repeat 100%;
  width: 100%;
  height: 34rem;
  background-size: cover;
}

.time{
  background: #f7f7f7;
}

.time-work p{
  font-size: 20px;
  font-weight: bold;
}

.services{
  background: #f7f7f7;
}

.services .card{
  box-shadow: 2px 3px 10px #0001;
}

ul {
  padding-inline-start: 20px;
}

li {
  line-height: 1.5rem;
  font-size: 14px;
}

.card-stock {
  width: 100%;
  height: 230px;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url("./../img/serv-podveski.jpg") no-repeat 50% 50%;
  cursor: pointer;
  background-size: contain;
}

.card-stock .card-text {
  position: absolute;
  color: #fff;
  left: 195px;
  top: 100px;
}

.fa{
  cursor: pointer;
}

.vl-logo{
  width: 25px;
  height: 25px;
}


